@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

:root {
  --ff-space-mono: "Space Mono", monospace;
  /* Primary */
  --Strong--cyan: hsl(172, 67%, 45%);

  /* Neutral */

  --Very--dark--cyan: hsl(183, 100%, 15%);
  --Darker-grayish-cyan: hsl(186, 14%, 43%);
  --Dark-grayish-cyan: hsl(184, 14%, 56%);
  --grayish-cyan: hsl(185, 41%, 84%);
  --Light-grayish-cyan: hsl(189, 41%, 97%);
  --White: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
/* Remove arrows from type number of input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
/* ============================================== */

body {
  background-color: var(--grayish-cyan);
  /* padding: 5rem; */
  height: 100%;
  font-size: 16px;
  font-family: var(--ff-space-mono);
}

header {
  color: var(--Very--dark--cyan);
  font-weight: 400;
  height: 150px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  color: var(--White);
  font-family: var(--ff-space-mono);
  font-weight: 500;
}
h1 {
  width: 6ch;
  font-size: 1.5rem;
  letter-spacing: 4px;
  word-wrap: break-word;
  text-transform: uppercase;
}

span {
  color: var(--Strong--cyan);
  font-size: 1.5rem;
}
label {
  color: var(--Darker-grayish-cyan);
  font-weight: 700;
}
input {
  color: var(--Very--dark--cyan);
  font-size: 1.3rem;
  background-color: var(--Light-grayish-cyan);
  border: none;
  height: 40px;
  text-align: center;
  width: 100%;
  border-radius: 0.5rem;
  height: 100%;
  font-family: var(--ff-space-mono);
  text-align: right;
  cursor: pointer;
  -webkit-appearance: none;
}

input:focus {
  outline-color: var(--Strong--cyan);
}

icon-input img {
  float: left;
}
#bill {
  background-image: url("./images/icon-dollar.svg");
  background-repeat: no-repeat;
  background-position: left;
  background-position-x: 0.5rem;
}
#people {
  background-image: url("./images/icon-person.svg");
  background-repeat: no-repeat;
  background-position: left;
  background-position-x: 0.5rem;
}

button {
  text-decoration: none;
  border: none;
  background-color: var(--Very--dark--cyan);
}
main {
  /* padding: 0 3rem; */
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.calculator-wrapper {
  background-color: var(--White);
  height: 100%;
  width: 100%;
  /* max-width: 1000px; */
  border-radius: 1.5rem;
  padding: 2rem 2rem;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  max-width: 770px;
}

#tipPercent {
  font-weight: 700;
  text-align: center;
}
.tip-area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  max-width: 770px;
  width: 100%;
  margin: 0 auto;
}

.tip-percent {
  padding: 0.7rem 0;
  min-width: 100px;
  color: var(--White);
  font-family: var(--ff-space-mono);
  font-weight: 600;
  border-radius: 0.4rem;
  font-size: 1.2rem;
}

.tip-percent:hover {
  background-color: var(--Strong--cyan);
  opacity: 0.5;
}

/* Total container content */

.total-container {
  background-color: var(--Very--dark--cyan);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem;
  width: 100%;
  max-width: 400px;
  position: relative;
  border-radius: 1rem;
  margin: 0 auto;
  margin-top: 3rem;
}

.reset-btn {
  background-color: var(--Strong--cyan);
  margin: 0 auto;
  border: 1rem;
  margin-top: 1rem;
  height: 50px;
  border-radius: 0.4rem;
  width: 100%;
  font-family: var(--ff-space-mono);
  text-transform: uppercase;
  color: var(--Very--dark--cyan);
  font-weight: 700;
}
.reset-btn:hover {
  background-color: var(--grayish-cyan);
}

.btn-wrapper {
  height: 100%;
  display: flex;
  align-items: flex-end;
}
.amount-container {
  display: flex;
  justify-content: space-between;
  position: relative;
}

p::after {
  content: "/ person";
  color: var(--Dark-grayish-cyan);
  font-size: 0.8rem;
  font-weight: 400;
  position: absolute;
  bottom: -10%;
  left: 0;
  width: 100px;
  height: 10px;
}

@media (min-width: 800px) {
  .calculator-wrapper {
    display: flex;
    gap: 4rem;
    width: 1000px;
  }

  .input-container {
    width: 45%;
  }
  .total-container {
    margin: 0;
    max-height: 1000px;
    font-size: 1.3rem;
  }

  .total-number {
    font-size: 2.3rem;
  }
  .tip-area {
    grid-template-columns: 1fr 1fr 1fr;
  }

  body {
    padding: 6rem 10rem;
  }
}
